extend layout
block content
  .container
    .message-container
      #message-log

      #textEntry
        textarea Enter text here!
    .right-info-bar Who's Online?

block scripts
  script(src="/socket.io/socket.io.js")
  script
    $(document).ready(function() {

      var socket = io.connect("http://"+window.location.hostname);
      socket.on('serverMessage', function (data) {
        $('#message-log').append("<div>" + data + "</div>");
        $('#message-log').scrollTop($('#message-log')[0].scrollHeight);
      });

      $('#textEntry textarea').keypress(function(event) {
        if(event.keyCode === 13) {
          socket.emit('clientMessage', $(this).val());
          $(this).val('');
          event.preventDefault();
        }
      });

      $(window).resize(function() {
        var height = $(window).height();
        $('#message-log').height(height-75);
      });

      var height = $(window).height();
      $('#message-log').height(height-75);
    });