extend layout
block content
  .container
    .message-container
      #message-log

      #textEntry
        textarea Enter text here!
    .right-info-bar Who's Online?

block scripts
  script(src="/socket.io/socket.io.js")
  script
    $(document).ready(function() {
      $('#textEntry').keypress(function(event) {
        if(event.keyCode === 13) {
          event.preventDefault();
          $(this).val('');
        }
      });

      $(window).resize(function() {
        var height = $(window).height();
        $('#message-log').height(height-75);
      });

      var height = $(window).height();
      $('#message-log').height(height-75);
    });

    var socket = io.connect('http://localhost');
    socket.on('memory', function (data) {
      $('#message-log').append("<div>Server: I've used " + data.heapUsed + " of my total " + data.heapTotal + " bytes of heap</div>");
      $('#message-log').scrollTop($('#message-log')[0].scrollHeight);
      socket.emit('my other event', { my: 'data' });
    });