!!!5
html
	head
		title #{packageInfo.name}
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Messaging Preview #{packageInfo.version}
		block content

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	block scripts